@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&family=Poppins&family=Roboto&display=swap");

:root {
  /* #C60021; */
  --main-color: #19a78a;
  --pane-padding: 5px 42px;
  --fontFamily: "Poppins", sans-serif;
  --background-color: #e3e3e3;
  --font_color: #f6f6f8;
}

* {
  margin: 0px;
  padding: 0px;
  /* width: auto; */
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.header {
  display: flex;

  justify-content: space-between;
  height: auto;
  align-items: center;
  padding: 10px 40px;
  font-family: var(--fontFamily);
  position: fixed;
  width: 100%;
  background-color: var(--background-color);
  background-color: aliceblue;
  font-weight: bold;
  z-index: 1;
}
.name {
  font-size: 1.5em;
  color: var(--main-color);
}
.header > ul {
  display: flex;
}
.header > ul > li {
  list-style: none;
  margin-right: 30px;
  cursor: pointer;
}
.header > ul > li a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: black;
}
.header > ul a:hover {
  color: var(--main-color);
}
/* Stylish Gradient Heading */
h1.stylish {
  background: -webkit-linear-gradient(left, #19a78a, #dc2430);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5em;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.home_cont {
  display: flex;
  font-family: var(--fontFamily);
  padding: 0px 40px;
  /* height: 100vh; */
  margin-top: 0px;
}
.details {
  width: 100%;
  padding-top: 80px;
  padding-right: 50px;
}
.details > h1 {
  margin-top: 2em;
}
.details > p:nth-child(2) {
  text-transform: uppercase;
  margin-top: 5px;
}
.details > p:nth-child(3) {
  color: gray;
  margin-top: 15px;
}

.btn {
  display: flex;
  margin-top: 20px;
}
.btn > button {
  background-color: var(--main-color);
  color: white;
  font-size: 1.2em;
  margin-right: 22px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  text-decoration: none;
}

.profile_img {
  /* padding: 10%; */
  /* align-items: center; */
  margin: auto;
  /* margin-top: 50px; */
  width: 100%;
}

.profile_img > div {
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
}

.profile_img > img {
  height: 100%;
  position: relative;
  /* background-size: cover; */
  background-position: center;
  width: 100%;
  padding: 15%
}
.full-view {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
}

.full-view img {
  max-width: 90%;
  max-height: 90%;
}
.social {
  margin-top: 20px;
  font-size: 2em;
  color: #19a78a;
}
.social > a > img {
  height: 30px;
  width: 30px;
}

.social > i {
  transition: all 0.5s ease-in-out;
}
.social > i:hover {
  transform: scale(1.5);
}

.hamberger {
  display: none;
}

@media all and (min-width: 451px) and (max-width: 750px) {
  .header > ul {
    display: none;
  }
  .hamberger {
    display: block;
  }

  .home_cont {
    flex-direction: column-reverse;
    height: auto;
  }
  .details {
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
  }
  .details > h1 {
    margin-top: 1em;
  }

  .about_us {
    flex-direction: column;
  }
  /* .profile_img > div > img {
    width: 100%;
    height: 50%;
    margin: auto;
    margin-top: 20%;
  } */

  .projects_cont {
    width: 90%;
    padding-left: 2%;
    padding-right: 2%;
  }
}

/* Small Screens */
@media all and (min-width: 100px) and (max-width: 450px) {
  .header > ul {
    display: none;
  }
  .hamberger {
    display: block;
  }

  .home_cont {
    display: flex;
    height: auto;
    margin-top: 0px;
    /* align-items: center; */
    flex-direction: column-reverse;
  }
  .details {
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
  }
  .details > h1 {
    margin-top: 1em;
  }

  /* .profile_img > div > img {
    width: 100%;
    height: 50%;
    margin: auto;
    margin-top: 20%;
  } */
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-gap: 5px;
}
#grid > div {
  font-size: 30px;
  padding: 0.2em;
  color: #ffffff;
  background: #19a78a;
  text-align: center;
}
#grid > div>img{
  width: 100%;
  /* font-size: 30px; */
  /* padding: 0.2em; */
  color: #ffffff;
  background: #19a78a;
  text-align: center;
}

.projects_cont {
  box-sizing: content-box;

  margin-top: 5%;
  /* padding: 0px 0px; */
  font-family: var(--fontFamily);
  background-color: var(--background-color);
  padding-top: 10px;
  width: auto;
}
.project > p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.projects_cont > div {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  font-family: var(--fontFamily);
  justify-content: center;
  box-sizing: border-box;
}

.project {
  color: gray;
  background-color: aliceblue;
  width: 300px;
  padding: 15px 15px;
  box-sizing: border-box;
  border-radius: 5%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.project > div {
  overflow: hidden;
}

.project img {
  transition: all 0.5s ease-in-out;
}

/* .project img:hover {
  transform: scale(1.2);
} */

.project_btn {
  display: flex;
  justify-content: space-between;
}

.project_btn button {
  margin: 2px;
  padding: 5px 15px;
  color: white;
  background-color: var(--main-color);
  border: none;
  font-weight: 600;
  cursor: pointer;
  border-radius: 3px;
  font-size: 1.1em;
}
@media all and (min-width: 451px) and (max-width: 750px) {
  .projects_cont > div {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Small Screens */
@media all and (min-width: 100px) and (max-width: 450px) {
  .projects_cont > div {
    grid-template-columns: repeat(1, 1fr);
  }
  .project {
    width: 90%;
  }
  .name {
    font-size: small;
  }
  .contrib-number {
    font-size: 1vh;
  }
  h2 {
    font-size: 15px;
  }
}
@media all and(max-width:320px) {
  .project {
    width: 90%;
  }
}
@media all and (min-width: 750px) and (max-width: 1125px) {
  .projects_cont > div {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (min-width: 450px) and (max-width: 750px) {
  .projects_cont > div {
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
  }
}

footer {
  background-color: var(--main-color);
  color: var(--background-color);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
footer > h1 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

#calender {
  width: 90% !important;
}
